# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Logs
logs/*
!logs/.gitkeep
*.log

# Data
data/raw/*
data/processed/*
!data/raw/**/.gitkeep
!data/processed/**/.gitkeep
!data/**/*.dvc

# Artifacts
artifacts/*
!artifacts/**/.gitkeep
!artifacts**/*.dvc

# MLflow
mlruns/
mlartifacts/

# OS
.DS_Store
Thumbs.db